# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.env

# Django
db.sqlite3
staticfiles/

# Node (in case it comes back)
node_modules/
package.json
package-lock.json
image_results.json
dump.py
fetchImages.js

# OS
.DS_Store
Thumbs.db